@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap");
@import url("./styles/nav.css");
@import url("./styles/hamburger.css");
@import url("./styles/hero.css");
@import url("./styles/below-hero.css");
@import url("./styles/for-who.css");
@import url("./styles/section-header.css");
@import url("./styles/mobile-app.css");
@import url("./styles/plans.css");
@import url("./styles/testimonials.css");
@import url("./styles/newsletter.css");

:root {
  /*colours*/
  --primary-01: #120f10;
  --primary-02: #413f40;
  --primary-03: #888687;
  --primary-04: #b8b7b8;
  --primary-05: #e8e7e8;
  --secondary-01: #fdfafe;
  --secondary-02: #cac8cb;
  --secondary-03: #7e7d7f;
  --secondary-04: #4c4b4c;
  --secondary-05: #191919;
  --accent-01: #2db2dc;
  --accent-02: #57c1e3;
  --accent-03: #95d8ed;
  --accent-04: #c0e8f5;
  --accent-05: #d5f0f8;
  /*typography*/
  --h1: 48px;
  --h2: 36px;
  --h3: 30px;
  --p1: 20px;
  --p2: 18px;
  --p3: 14px;
  --font: "Source Sans Pro", sans-serif;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  font-family: var(--font);
  background-color: var(--primary-01);
}

body button {
  cursor: pointer;
}

.wrapper {
  width: 100%;
  color: var(--secondary-01);
}

main {
  width: 100%;
  height: auto;
  position: absolute;
  top: 75px;
}

@media screen and (max-width: 600px) {
  main {
    top: 60px;
  }
}
