.hamburger_menu,
.hamburger_menu_btn {
  display: none;
}

.hamburger_menu_btn {
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
}

.hamburger_menu_btn > div {
  width: 40px;
  height: 3px;
  background-color: var(--secondary-01);
}

.hamburger_menu_btn > div:before,
.hamburger_menu_btn > div:after {
  position: absolute;
  content: "";
  width: 40px;
  height: 3px;
  background-color: var(--secondary-01);
}

.hamburger_menu_btn > div:before {
  transform: translateY(-12px);
  animation: burger3 250ms linear;
}

@keyframes burger3 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-12px) rotate(0deg);
  }
}

.hamburger_menu_btn > div:after {
  transform: translateY(12px);
  animation: burger4 250ms linear;
}

@keyframes burger4 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(12px) rotate(0deg);
  }
}

.hamburger_menu_input {
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  margin: 0;
  padding: 100px 15px 0;
  background-color: rgba(250, 250, 250, 0.2);
  transition: height 150ms linear;
}

#hamburger_menu_input {
  display: none;
}

#hamburger_menu_input:checked ~ .hamburger_menu_btn > div {
  visibility: hidden;
}

#hamburger_menu_input:checked ~ .hamburger_menu_btn > div:before,
#hamburger_menu_input:checked ~ .hamburger_menu_btn > div:after {
  visibility: visible;
  background-color: #fff;
  transform-origin: center center;
  transform: translateY(0);
  transition: all 250ms linear;
}

#hamburger_menu_input:checked ~ .hamburger_menu_btn > div:before {
  transform: rotate(-45deg);
  animation: burger1 250ms linear;
}

@keyframes burger1 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0) rotate(-45deg);
  }
}

#hamburger_menu_input:checked ~ .hamburger_menu_btn > div:after {
  transform: rotate(45deg);
  animation: burger2 250ms linear;
}

@keyframes burger2 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0) rotate(45deg);
  }
}

#hamburger_menu_input:checked ~ .menu {
  display: block;
  height: 100%;
  transition: height 150ms linear;
}

.hamburger_menu.disable {
    display: none;
}

@media screen and (max-width: 900px) {
  .hamburger_menu,
  .hamburger_menu_btn {
    display: flex;
  }

  .hamburger_menu {
    width: 325px;
    position: absolute;
    top: 76px;
    right: 0;
    flex-direction: column;
    background-color: var(--secondary-05);
  }

  .hamburger_menu button {
    width: 100%;
    padding: 30px 0;
    margin: 0;
  }

  .hamburger_menu .menu__btn--last {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .hamburger_menu_btn > div {
    width: 30px;
    height: 2px;
  }

  .hamburger_menu_btn > div:before,
  .hamburger_menu_btn > div:after {
    width: 30px;
    height: 2px;
  }

  .hamburger_menu_btn > div:before {
    transform: translateY(-8px);
  }

  @keyframes burger3 {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-8px) rotate(0deg);
    }
  }

  .hamburger_menu_btn > div:after {
    transform: translateY(8px);
  }

  @keyframes burger4 {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(8px) rotate(0deg);
    }
  }

  .hamburger_menu .menu__btn--last {
    width: 200px;
    display: block;
    padding: 12px 0;
    margin: 30px auto;
  }
  .hamburger_menu {
    background-color: var(--secondary-05);
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    top: 61px;
    right: 0;
  }

  .hamburger_menu button {
    margin: auto;
    width: 100%;
    border-bottom: none;
  }
}


