.section__newsletter {
  width: 100%;
  height: 550px;
  padding: 120px 0 0 0;
}

.section__newsletter__content {
  height: 100%;
  background-image: url("../assets/newsletter.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.section__newsletter__header {
  width: 600px;
  padding: 40px;
}

.section__newsletter__btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 420px;
  height: 50px;
  padding: 0 20px;
  border-radius: 20px;
  border: 1px solid var(--accent-01);
  background-color: transparent;
  color: var(--accent-01);
  font-size: var(--p1);
  font-weight: 500;
}

@media screen and (max-width: 920px) {
  .section__newsletter {
    height: 400px;
  }

  .section__newsletter__header {
    width: calc(100% - 60px);
    padding: 30px;
  }

  .section__newsletter__btn {
    width: 220px;
    height: 40px;
    padding: 0 20px;
    font-size: var(--p2);
  }
}

@media screen and (max-width: 366px) {
  .section__newsletter {
    height: 500px;
  }
}
