.section__plans {
  display: flex;
  flex-direction: column;
  width: calc(100% - 120px);
  padding: 120px 60px 0;
}

.section__plans__content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.section__plans__content__card {
  position: relative;
  width: 500px;
  height: 720px;
  border-radius: 20px;
}

.section__plans__content__card img {
  width: 500px;
}

.section__plans__content__card div {
  position: absolute;
  bottom: 0;
  width: calc(100% - 40px);
  height: 250px;
  padding: 20px;
  background-color: var(--secondary-05);
  border-radius: 0 0 20px 20px;
}

.section__plans__content__card div h2 {
  margin-top: 5px;
  font-size: var(--h3);
}

.section__plans__content__card div p {
  width: 80%;
  font-size: var(--p2);
}

.section__plans__content__card div button {
  position: absolute;
  bottom: 20px;
  width: calc(100% - 40px);
  height: 60px;
  border-radius: 20px;
  border: 1px solid var(--accent-01);
  background-color: transparent;
  font-size: var(--p1);
  color: var(--accent-01);
  font-weight: 500;
}

.section__plans__content__card div button i {
  padding-left: 40px;
}

@media screen and (max-width: 1680px) {
  .section__plans__content__card {
    width: 360px;
    height: 520px;
  }

  .section__plans__content__card img {
    width: 360px;
  }

  .section__plans__content__card div {
    height: 200px;
  }

  .section__plans__content__card div h2 {
    margin-top: 5px;
    font-size: var(--p1);
  }

  .section__plans__content__card div p {
    font-size: var(--p3);
  }

  .section__plans__content__card div button {
    height: 50px;
    font-size: var(--p2);
  }
}

@media screen and (max-width: 1240px) {
  .section__plans__content {
    flex-direction: column;
  }

  .section__plans__content__card {
    width: 500px;
    height: 720px;
    margin-bottom: 60px;
  }

  .section__plans__content__card img {
    width: 500px;
  }

  .section__plans__content__card div {
    height: 250px;
  }

  .section__plans__content__card div h2 {
    font-size: var(--h3);
  }

  .section__plans__content__card div p {
    font-size: var(--p2);
  }

  .section__plans__content__card div button {
    height: 60px;
    font-size: var(--p1);
  }
}

@media screen and (max-width: 560px) {
  .section__plans__content__card {
    width: 260px;
    height: 440px;
    margin-bottom: 60px;
  }

  .section__plans__content__card img {
    width: 260px;
  }

  .section__plans__content__card div {
    height: 140px;
  }

  .section__plans__content__card div h2 {
    font-size: var(--p2);
  }

  .section__plans__content__card div p {
    font-size: 10px;
  }

  .section__plans__content__card div button {
    height: 35px;
    font-size: var(--p3);
  }
}
